$white      :#ffffff;
$ancorf5    :#f5f5f5;
$graygreen  :#827e87;
$hover      :#753d9d;
$hovertrp   :#753d9d46;
$greenh1    :#a066c9;
$bborder    :#e0e0e0;
$colh4      :#0d113d;
$overlay    :#190b2399;