@import "../variable/variabls";
@import "../mixins/mixin";
/*--nav part start--------*/
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    background: rgba(255, 0, 0, 0.356);
    width: 100%;
    display: block;
    z-index: 999;
    .navbar-brand{
        padding-top: 0 !important;
    }
    .mecollepse{
        .meUL{
            li{
                a{
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 400;
                    color:$ancorf5;
                    margin-left: 20px !important;
                    &:hover{
                        color:$hover;
                    }
                }
            }
        }

    }
}
/*--nav part end--------*/